body {
	background-image: url(../images/texture-bg.jpg);
	margin: 0px 0px 0px 0px;
	/* height: 100vh;
	width:100vw;
	display: flex;
	flex-direction: column; */

}

#landing, #selectedWorks {
	margin: 0px 0px 0px 0px;
	height: 100vh;
	width:100vw;
	display: flex;
	flex-direction: column;
}
#selectedWorks {
	flex-wrap: wrap
}

#selectedWorks, #contact, #about {
	height: 100vh;
	width:100vw;
	margin: 0px 0px 0px 0px;
}

.upperRow, .lowerRow {
	display: flex;
	flex: 1;
	flex-direction: row;	
	justify-content: center;
}

.upperRow {
	background: rgba(255,255,255,.5);
	align-items: flex-end;
}

.lowerRow {
	align-items: flex-start;
}

.triOne {
	width: 33vw;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	margin-right: -14vw;
	margin-bottom: 2vh;
}

.triTwo {
	width: 33vw;
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	margin-bottom: 2vh;
}

.triThree {
	width: 33vw;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	margin-left: -14vw;
	margin-bottom: 2vh;
}

.triFour {
	width: 33vw;
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	margin-right: -14vw;
	margin-top: 2vh;
}

.triFive {
	width: 33vw;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	margin-top: 2vh;
}

.triSix {
	width: 33vw;
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	margin-left: -14vw;
	margin-top: 2vh;
}

.triBL {
	width: 33vw;
	height: calc(33vw/1.5);
	-webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
	clip-path: polygon(0 0, 0% 100%, 100% 100%);
	background-size: cover
}

.triTR {
	width: 33vw;
	height: calc(33vw/1.5);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%);
	background-size: cover
}


#worksOne, #worksTwo, #worksThree,
#worksFour, #worksFive, #worksSix {
	width: 33vw;
	height: calc(33vw/1.5);
	position: relative;
}

.portfolioPositioning {
	position: absolute;
	top: 0;
	left: 0;
}

/* Selected Works One Images */
#worksOneCode {
	background-image: url(../images/crane.jpg);
}
#worksOneSite {
	background-image: url(../images/headshot.jpg);
}
/* Selected Works Two Images */
#worksTwoCode {
	background-image: url(../images/crane.jpg);
}
#worksTwoSite {
	background-image: url(../images/headshot.jpg);
}
/* Selected Works Three Images */
#worksThreeCode {
	background-image: url(../images/crane.jpg);
}
#worksThreeSite {
	background-image: url(../images/headshot.jpg);
}
/* Selected Works Four Images */
#worksFourCode {
	background-image: url(../images/crane.jpg);
}
#worksFourSite {
	background-image: url(../images/headshot.jpg);
}
/* Selected Works Five Images */
#worksFiveCode {
	background-image: url(../images/crane.jpg);
}
#worksFiveSite {
	background-image: url(../images/headshot.jpg);
}
/* Selected Works Six Images */
#worksSixCode {
	background-image: url(../images/crane.jpg);
}
#worksSixSite {
	background-image: url(../images/headshot.jpg);
}

@media screen and (max-width: 800px) {

	.lowerRow {
		flex: 2
	}

}