body {
	background-image: url(../images/texture-bg.jpg);
	margin: 0px 0px 0px 0px;
	/* height: 100vh;
	width:100vw;
	display: flex;
	flex-direction: column; */

}

h2 {
	width: 100%
}

#landing, #selectedWorks {
	margin: 0px 0px 0px 0px;
	height: 100vh;
	width:100vw;
	display: flex;
	flex-direction: column;
}


#works {
	display: flex;
	flex-direction: column;
	width: 100vw;
	/* height: 80vh; */
	align-content: center;
	flex-wrap: wrap;
	margin: 0px 0px 0px 0px;
}

#selectedWorks, #contact, #about {
	height: 100vh;
	width:100vw;
	margin: 0px 0px 0px 0px;
}

.upperRow, .lowerRow {
	display: flex;
	flex: 1;
	flex-direction: row;	
	justify-content: center;
}

.upperRow {
	background: rgba(255,255,255,.5);
	align-items: flex-end;
}

.lowerRow {
	align-items: flex-start;
}

.triOne {
	width: 33vw;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	margin-right: -14vw;
	margin-bottom: 2vh;
}

.triTwo {
	width: 33vw;
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	margin-bottom: 2vh;
}

.triThree {
	width: 33vw;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	margin-left: -14vw;
	margin-bottom: 2vh;
}

.triFour {
	width: 33vw;
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	margin-right: -14vw;
	margin-top: 2vh;
}

.triFive {
	width: 33vw;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	margin-top: 2vh;
}

.triSix {
	width: 33vw;
	-webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	margin-left: -14vw;
	margin-top: 2vh;
}

.triBL {
	-webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
	clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.triTR {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%);
}


#worksOne, #worksTwo, #worksThree,
#worksFour, #worksFive, #worksSix {
	width: 33vw;
	height: calc(33vw/1.5);
	position: relative;
}

#selectedWorksTitle {
	width: 66vw
}


.portfolioPositioning {
	position: absolute;
	top: 0;
	left: 0;
	width: 33vw;
	height: calc(33vw/1.5);
	background-size: cover
}

worksCode, worksSite {
	-webkit-transition: opacity 20s;
	transition: opacity 20s;
}

/* Selected Works One Images */
#worksOne-Code {
	background-image: url(../images/RPSLVcode.png);
}
#worksOne-Site {
	background-image: url(../images/RPSLVsite.png);
}
/* Selected Works Two Images */
#worksTwo-Code {
	background-image: url(../images/fightClubCode.png);
}
#worksTwo-Site {
	background-image: url(../images/fightClubSite.png);
}
/* Selected Works Three Images */
#worksThree-Code {
	background-image: url(../images/starWarsCode.png);
}
#worksThree-Site {
	background-image: url(../images/starWarsSite.png);
}
/* Selected Works Four Images */
#worksFour-Code {
	background-image: url(../images/triviaGameCode.png);
}
#worksFour-Site {
	background-image: url(../images/triviaGameSite.png);
}
/* Selected Works Five Images */
#worksFive-Code {
	background-image: url(../images/liriCode.png);
}
#worksFive-Site {
	background-image: url(../images/liriCLI.png);
}
/* Selected Works Six Images */
#worksSix-Code {
	background-image: url(../images/crane.jpg);
}
#worksSix-Site {
	background-image: url(../images/headshot.jpg);
}

@media screen and (max-width: 800px) {

	.lowerRow {
		flex: 2
	}

}